.first {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    top:0px;
    width:80%;
    height:300px;
    background-color:yellow;
  }
        
  .high {
    color:white; 
    background-color:red;
  }
  .mediun {
    color:white;
    background-color:orange;
  }
  .low {
    color:black;
    background-color:gray;
  }
  .done {
    color:yellow;
    background-color:black;
  }
  .body {
      margin-left:20px;
  }
