  main {
    position: relative;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgreen;
    height: 300px;
    width: 400px;
  }
  body {
    height: 300px;
    width: 700px;
    background-color: lightblue;
  }
