body {
  background-color: rgb(125,50,175);
  background-image: url("http://www.google.de/imgres?imgurl=http%3A%2F%2Fcache2.asset-cache.net%2Fgc%2F489992914-anthony-martial-of-manchester-united-in-gettyimages.jpg");
}
p {
  color: rgb(225,50,108);
  font-size: 18pt;
}
nav {
  position: fixed;
  top: 0px;
  left: 500px;
}
#ih3 {
  text-align: left;
}
section {
  margin: 10px;
  position: relative;
  top: 80px;
  height: 500px;
  width: 600px;
  overflow: auto;
  margin: 10 10 10 10;
  float: left;
}
footer {
  position: fixed;
  bottom: 0px;
  clear: both;
}
#f1 {
  color: blue;
}
