body {
  background-color: rgb(125,50,175);
  background-image: url("http://www.luther.edu/reason/sized_images/607639/1b5543ab34271f4988c1c0f84a3216d0.jpg");
}
p {
  color: rgb(225,50,108);
  font-size: 18pt;
}
nav {
  position: fixed;
  top: 0px;
  left: 20px;
}
section {
  position: relative;
  top: 80px;
  height: 500px;
  width: 600px;
  overflow: auto;
  margin: 10 10 10 10;
  float: left;
}
footer {
  position: fixed;
  bottom: 0px;
  clear: both;
}
#f1 {
  color: blue;
}
