.high {
  background-color: rgb(225,100,100);
}
.medium {
  background-color: orange;
}
.low {
  background-color: #999999;
}
.done {
  background-color: yellow;
  text-decoration: line-through;
}
.done li {
  color: rgb(0,225,225);
}
.high li {
  color: white;
}
.medium li {
  color: #7050120;
}
h2 {
  color: white;
  text-align: center;
}
section {
  height: 200px;
  width: 300px;
  overflow: auto;
  margin: 10 10 10 10;
  border: 2px solid rgb(0,0,0);
  float: left;
}
footer {
  clear: both;
}
